body {
  font-family: "Raleway", sans-serif;
}

/* Navbar */
.navbar {
  background-color: #246161; /*246161 - 5d6c6c - b5ba6c*/
}

.name {
  text-transform: uppercase;
  letter-spacing: 5px;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero-web-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Mis trabajos */

#Mis-trabajos {
  background-color: #246161;
}

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.btn-outline-success {
  color: #246161;
  border-color: #246161;
}

.btn-outline-success:hover {
  background-color: #246161;
  color: #fff;
}


/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

.btn-contact {
  background-color: #337b7b;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
